h3 {
    font-family: "Outfit", sans-serif;
    color:black;
    font-size: 15px; 
    text-align: center;
    font-weight: 700;
}

p {
    font-family: "Outfit", sans-serif;
    color: lightslategray;
    font-size: 15px; 
    text-align: center;
    font-weight: 400;
}

.attribution { 
    font-family: "Outfit", sans-serif;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color:orchid; 
}

.rectangle{
    height: 100px;
    width: 100px;
    background-color: lightgreen;
}

@font-face{
    font-family: "Outfit";
    src: url('typefaces/Outfit-Regular.ttf') format("truetype");
}