h1 {
    font-family: "Outfit", sans-serif;
    color:black;
    font-size: 15px; 
    text-align: center;
    font-weight: 700;
    margin: 5px;
}

p {
    font-family: "Outfit", sans-serif;
    color: lightslategray;
    font-size: 15px; 
    text-align: center;
    font-weight: 400;
    margin: 5px;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 5%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
    
}

body{
    background-color:bisque;
    align-items: center;
    align-content: center;
}

.attribution { 
    font-family: "Outfit", sans-serif;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color:orchid; 
}

.rectangle{
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 5%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

@font-face{
    font-family: "Outfit";
    src: url('typefaces/Outfit-Regular.ttf') format("truetype");
}